<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>KẾT QUẢ THANH TOÁN</title>
<link href="/assets/vnpay_assets/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/vnpay_assets/jumbotron-narrow.css" rel="stylesheet">
<script src="/assets/vnpay_assets/jquery-1.11.3.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="header clearfix">
			<h3 class="text-muted">KẾT QUẢ THANH TOÁN</h3>
		</div>
		<div class="table-responsive">
			<div class="form-group">
				<label>Mã giao dịch thanh toán:</label> <label
					th:text="${vnp_TxnRef}"></label>
			</div>
			<div class="form-group">
				<label>Số tiền:</label> <label th:text="${vnp_Amount}"></label>
			</div>
			<div class="form-group">
				<label>Mô tả giao dịch:</label> <label th:text="${vnp_OrderInfo}"></label>
			</div>
			<div class="form-group">
				<label>Mã lỗi thanh toán:</label> <label
					th:text="${vnp_ResponseCode}"></label>
			</div>
			<div class="form-group">
				<label>Mã giao dịch tại CTT VNPAY-QR:</label> <label
					th:text="${vnp_TransactionNo}"></label>
			</div>
			<div class="form-group">
				<label>Mã ngân hàng thanh toán:</label> <label
					th:text="${vnp_BankCode}"></label>
			</div>
			<div class="form-group">
				<label>Thời gian thanh toán:</label> <label th:text="${vnp_PayDate}"></label>
			</div>
			<div class="form-group">
				<label>Tình trạng giao dịch:</label> <label
					th:text="${transactionStatus}"></label>
			</div>
		</div>
		<footer class="footer">
			<p>&copy; VNPAY 2024</p>
		</footer>
	</div>
</body>
</html>
